.register {
  .login-popup {
    background-color: #fff;
  }

  .nav-link {
    cursor: auto;
  }

  .form-group {
    select {
      max-width: unset !important;
      width: 100% !important;
      height: 4.3rem !important;
    }
  }
  
  button {
    margin-top: 32px;
  }

  
}