/* -------------------------------------------
    Toast
---------------------------------------------- */
.Toastify {
    position: relative;
    z-index: 10001;
}

.toast-container.Toastify__toast-container {
    width: 300px;
    padding: 0;
    top: 1rem;
    right: 3rem;

    .Toastify__toast {
        padding: 0;
    }

    .minipopup-box {
        padding: 2rem;
    }

    .product-media::before {
        padding-top: 100%;
    }

    .product.product-cart {
        margin-bottom: 0;
    }
}

.Toastify__toast--success.Toastify__toast {
    border-radius: 5px;
    max-width: 273px;

    .Toastify__toast-body {
        margin: auto 3rem;
        font-size: 1.5rem;
        width: 213px;
    }
}

.Toastify__toast {
    margin-bottom: 2rem;
}

.Toastify__toast-body {
    padding: 0;
}

@include mq(xs, max) {
    .toast-container.Toastify__toast-container {
        right: 1rem;
    }

    .Toastify__toast:not(:last-child) {
        margin-bottom: 1rem;
    }

    .Toastify__toast {
        margin-bottom: 0;
    }
}